.container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 22px;
  color: #3c4369;
}

.title .s {
  font-size: 14px;
  color: #969ba0;
  line-height: 20px;
  margin-top: -10px;
}

.price {
  display: flex;
  align-items: center;
}
