.connect {
  text-align: center;
}

.connect .h1 {
  margin-top: 32px;
}

.connect .h1 span {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 36px;
  font-size: 30px;
  font-family: HelveticaNeue-Medium, HelveticaNeue;
  font-weight: 500;
  color: #3c4369;
  line-height: 37px;
  text-align: center;
}

.connect .h1 span::before {
  content: '';
  position: absolute;
  left: -81px;
  top: 18px;
  width: 68px;
  height: 1px;
  background: #696969;
}

.connect .h1 span::after {
  content: '';
  position: absolute;
  right: -81px;
  top: 18px;
  width: 68px;
  height: 1px;
  background: #696969;
}

.connect .types {
  margin: 31px 0 20px;
}

.connect .types button {
  width: 120px;
  height: 48px;
  font-size: 16px;

  color: #3c4369;
  background-color: #f9faff;
  border: 0;
}

.connect .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  text-align: center;
}

.connect .button {
  display: inline-block;
  width: 180px;
  height: 120px;
  padding: 15px;

  font-size: 18px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #3c4369;
  line-height: 25px;

  border-radius: 8px;
  cursor: pointer;
}

.connect .button:hover {
  /* background: #f9faff; */
  /* color: #546ff6; */
}

.footer {
  margin-top: 30px;
  margin-bottom: 14px;
  height: 16px;
  font-size: 14px;
  font-family: HelveticaNeue;
  color: #969ba0;
  line-height: 16px;
}

.footer a {
  color: #969ba0;
}
