.counts {
  display: flex;
  flex-direction: row;
}

.count-item {
  display: flex;
  flex-direction: column;
}

.count-item + .count-item {
  margin-left: 30px;
}

.count-item .num {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  line-height: 42px;
}

.count-item .num-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.count-item .title {
  font-size: 14px;
  font-weight: 400;
  color: #969ba0;
  line-height: 27px;
}
