.content {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 120px); */
  min-height: calc(100vh - 148px) !important;
  padding: 0 54px;
}

.title1 {
  height: 42px;
  margin-top: 31px;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  line-height: 42px;
  text-align: center;
}

.title2 {
  height: 27px;
  font-size: 16px;
  font-weight: 400;
  color: #3c4369;
  line-height: 27px;
  text-align: center;
}

.box {
  flex: 1;
  padding: 35px 42px;
  margin-top: 31px;
  background: #fff;
  border-radius: 10px;
}

.box-scroll {
  height: 600px;
  overflow-y: auto;
}
