/* -------home------ */
.content-home {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 148px);
  /* min-height: calc(100vh - 148px) !important; */
  padding: 0 54px;
}

.content-home .title1 {
  height: 42px;
  margin-top: 31px;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  line-height: 42px;
  text-align: center;
}

.content-home .title2 {
  height: 27px;
  margin-bottom: 31px;
  font-size: 16px;
  font-weight: 400;
  color: #3c4369;
  line-height: 27px;
  text-align: center;
}

.content-home .box-wrap {
  /* overflow-y: auto; */
  flex: 1;
  padding: 35px 0;
  margin-top: 31px;
  background: #fff;
  border-radius: 10px;
}

/* .content-home .box {
  overflow-y: auto;
  flex: 1;
  background: #fff;
  border-radius: 10px;
} */

.content-home .box {
  overflow-y: auto;
  flex: 1;
  padding: 35px 42px;
  background: #fff;
  border-radius: 10px;
}

.content-home .space {
  height: 20px;
  min-height: 20px;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content-home .space2 {
  height: 20px;
  min-height: 20px;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* ------------- */
.content {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 148px); */
  min-height: calc(100vh - 148px) !important;
  padding: 0 54px;
}

.content .title1 {
  height: 42px;
  margin-top: 31px;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  line-height: 42px;
  text-align: center;
}

.content .title2 {
  height: 27px;
  font-size: 16px;
  font-weight: 400;
  color: #3c4369;
  line-height: 27px;
  text-align: center;
}

.content .box {
  flex: 1;
  padding: 35px 42px;
  margin-top: 31px;
  background: #fff;
  border-radius: 10px;
}

/* ---------launch---------- */
.launch-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 148px) !important;
  padding: 40px 52px 0 26px;
  margin-left: 240px;
  text-align: left;
}

.launch-content .title1 {
  height: 42px;
  font-size: 24px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #000000;
  line-height: 42px;
}

.launch-content .title2 {
  height: 27px;
  margin-top: 3px;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #969ba0;
  line-height: 27px;
}

.launch-content .box {
  flex: 1;
  padding: 34px 32px;
  margin-top: 30px;
  background: #fff;
  border-radius: 12px;
}

/* ---------dashboard---------- */
.dashboard-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 148px) !important;
  padding: 40px 52px 0 26px;
  margin-left: 240px;
  text-align: left;
}

.dashboard-content-scroll {
  height: calc(100vh - 148px);
}

.dashboard-content .title1 {
  height: 42px;
  font-size: 24px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #000000;
  line-height: 42px;
}

.dashboard-content .title2 {
  height: 27px;
  margin-top: 3px;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #969ba0;
  line-height: 27px;
}

.dashboard-content .box {
  flex: 1;
  padding: 34px 32px;
  margin-top: 30px;
  background: #fff;
  border-radius: 12px;
}

.dashboard-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dashboard-content-header-mt {
  margin-top: 35px;
  padding: 0 10px;
}

.dashboard-content-body {
  overflow-y: auto;
  width: 100%;
  background-color: white;
  flex: 1;
  border-radius: 12px;
  margin-top: 30px;
}

.dashboard-content-table .ant-table-cell {
  background-color: white;
}

.dashboard-modal-content {
  padding: 68px 30px;
  text-align: center;
}

.dashboard-modal-title {
  font-size: 36px;
  font-weight: 600;
  color: #3c4369;
  line-height: 50px;
  white-space: nowrap;
}

.dashboard-modal-subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #969ba0;
  line-height: 50px;
  padding-bottom: 40px;
}

.dashboard-modal-button {
  width: 200px;
  height: 63px;
  background-color: #2f4cdd;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.vote-list {
  /* padding: 38px 16px; */
  display: flex;
  flex-wrap: wrap;
}

.vote-item {
  width: 50%;
  box-sizing: border-box;
  padding: 5px 6px;
}

.financial-list {
  padding: 23px 30px;
  display: flex;
  flex-wrap: wrap;
}

.financial-item {
  width: calc(158px + 24px);
  box-sizing: border-box;
  padding: 15px 12px;
}

.financial-issue {
  padding: 40px 30px;
}

.financial-issue-title {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 30px;
}

.financial-issue-sub-title {
  font-size: 12px;
  color: #969ba0;
  line-height: 18px;
  margin-top: 7px;
}
