:root {
  --max-width: 1440px;
  --width-content: 1175px;
  --height-header: 76px;
  --height-footer: 322px;

  --color-primary: #546ff6;
  --color-secondary: #2f4cdd;

  --button-primary-color: #2f4cdd;
  --button-secondary-color: #546ff6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: PingFangSC-Regular, PingFang SC;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ------------ layout ------------ */
.ant-layout {
  background: #fff;
}

.ant-layout .ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  height: var(--height-header);
  padding: 0;
  background: #fff;
}

.ant-layout .ant-layout-content {
  margin-top: var(--height-header);
  padding: 0;
}

.ant-layout .ant-layout-content.basic {
  min-height: calc(
    100vh - var(--height-header) - var(--height-footer)
  ) !important;
}

.basic-content {
  box-sizing: border-box;
  max-width: var(--max-width);
  padding: 0 80px;
  margin: 0 auto;
}

.ant-layout .ant-layout-content.dashboard {
  box-sizing: border-box;
  /* width: var(--width-content); */
  min-height: calc(
    100vh - var(--height-header) - var(--height-footer)
  ) !important;
  /* padding: 70px 66px 0 68px; */

  margin-left: 298px;
  /* margin-right: auto; */
}

.dashboard-content {
  padding: 50px 24px;
}

.dashboard-content-2 {
  padding: 24px 33px 0 24px;
}

.dashboard-content-scroll {
  overflow-y: scroll;
  height: calc(100vh - var(--height-header)) !important;
}

.dashboard-content-scroll .content-min-height {
  min-height: calc(
    100vh - var(--height-header) - var(--height-footer)
  ) !important;
  margin: 50px 24px;
}

.ant-layout .ant-layout-content.launch {
  box-sizing: border-box;
  min-height: calc(
    100vh - var(--height-header) - var(--height-footer)
  ) !important;
  margin-left: 298px;
}

.launch-content {
  padding: 24px 33px 0 24px;
}

.ant-layout .ant-layout-footer {
  height: var(--height-footer);
  padding: 0;
  background: #000;
}

.card {
  padding: 40px 58px 40px 59px;
  margin: 24px;
  background: #ffffff;
  box-shadow: -5px 5px 20px 0px rgba(30, 30, 30, 0.03);
  border-radius: 5px;
  border: 1px solid #f5f5f5;
}

.card .h1 {
  height: 45px;
  font-size: 32px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #000000;
  line-height: 45px;
}

.card .h2 {
  height: 22px;
  margin-top: 12px;
  font-size: 16px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #818181;
  line-height: 22px;
}

/* -------------- Image ---------------- */
.ant-breadcrumb {
  padding: 24px 83px;
  font-size: 15px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #aeaeae;
  box-shadow: 0px 6px 16px -15px rgba(0, 0, 0, 0.3);
}

/* -------------- Image ---------------- */
.ant-image {
  line-height: 0;
}

/* ------------ Modal ------------ */
.ant-modal .ant-modal-content {
  border-radius: 30px;
}

.modal-small .ant-modal-content {
  border-radius: 8px;
}

/* ------------ smart-input v1 ------------ */
/* .smart-input {
  height: 76px;
  margin-top: 39px;
  font-size: 18px;
}

.smart-input .smart-input-prefix {
  padding-right: 10px;
  color: #000;
} */

/* ------------ smart-input v2 ------------ */
.smart-input {
  height: 76px;
  margin-top: 39px;

  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 24px;

  background-color: #e8ffee;
  border: 0;
  outline: 0;
  box-shadow: none;
}

.smart-input .ant-input {
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 24px;

  background-color: #e8ffee;
  border: 0;
  outline: 0;
}

.smart-input .smart-input-prefix {
  padding-right: 10px;
  margin-right: 6px;
  color: #000;
  border-right: 2px solid var(--color-secondary);
}

/* ------------ header menu ------------ */
.language-menu .ant-dropdown-menu {
  background: #f9faff;
}
.connect-menu {
}
.connect-menu .ant-dropdown-menu {
  background: #f9faff;
}
.connect-menu .ant-dropdown-menu li:last-child {
  cursor: default;
}
.connect-menu .ant-dropdown-menu li:last-child:hover {
  background-color: #f9faff;
}
.connect-menu-item {
  display: flex;
  align-items: center;
  height: 46px;

  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #3e4954;
  line-height: 21px;
}

.connect-menu-info-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 14px;

  font-size: 12px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #3c4369;
  line-height: 17px;
}

/* ----------------- Table ----------------- */
.table-card {
  padding: 40px 58px 40px 59px;
  margin-top: 25px;
  background: #ffffff;
  box-shadow: -5px 5px 20px 0px rgba(30, 30, 30, 0.03);
  border-radius: 5px;
  border: 1px solid #f5f5f5;
}

.table-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.ant-table-wrapper .ant-table {
  border-radius: 12px;
}

.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td {
  background-color: #fff;
}

.ant-table .ant-table-thead .ant-table-cell::before {
  display: none;
}

.ant-table .ant-table-thead .ant-table-cell {
  height: 60px;
  padding-left: 0;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #2d2d2d;
  line-height: 20px;
  border-color: #000;
}

.ant-table .ant-table-tbody .ant-table-cell {
  height: 60px;
  padding-left: 0;
  font-size: 15px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #000000;
  line-height: 20px;
}

.ant-table .ant-table-tbody tr:nth-child(2n + 1) {
  background-color: #fafafa;
}

/* -------------- Pagination ---------------- */
.ant-pagination {
  margin-top: 40px !important;
}

.ant-pagination .ant-pagination-item a {
  color: #000;
}

.ant-pagination .ant-pagination-item {
  border-radius: 0;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #000;
  border-color: #000;
}

.ant-pagination .ant-pagination-item-active a {
  color: #fff;
}

/* -------------- Sider Menu ---------------- */
.ant-menu {
  border-inline-end: 0 !important;
}

.ant-menu .ant-menu-item-group {
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
}

.ant-menu .ant-menu-item-group:last-child {
  border-bottom: 0;
}

.ant-menu .ant-menu-item-group-title {
  padding-left: 10px;
  margin-top: 20px;
  font-size: 11px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #a9a9a9;
  line-height: 21px;
}

.ant-menu .ant-menu-submenu-title {
  padding-left: 6px !important;
}

.ant-menu .ant-menu-submenu-title .ant-menu-title-content {
  padding-left: 18px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  line-height: 22px;
}

.ant-menu .ant-menu-item {
  padding-left: 6px !important;
}

.ant-menu .ant-menu-item .ant-menu-title-content {
  margin-inline-start: 18px !important;

  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  line-height: 22px;
}

.ant-menu .ant-menu-sub {
  background: #fff !important;
}

.ant-menu .ant-menu-sub .ant-menu-item {
  padding-left: 44px !important;
  padding-right: 0 !important;
}

.ant-menu .ant-menu-sub .ant-menu-item .ant-menu-title-content {
  margin-inline-start: 0 !important;

  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #000000;
  line-height: 22px;
}

.ant-menu .ant-menu-item-selected .ant-menu-title-content {
  color: #fff !important;
}

/* -------------- Button ---------------- */
.sm-button {
  width: 152px;
  height: 38px;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #fff;
  line-height: 22px;
}

.button-filter {
  height: 40px;
  font-size: 15px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 24px;
  background: #000000;
  border-radius: 2px;
}

.button-submit {
  width: 300px;
  height: 50px;

  font-size: 18px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 24px;
  background: #000000;
  border-radius: 4px;
}

.button-form {
  width: 148px;
  height: 50px;
  font-size: 18px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 24px;
  background: #000000;
  border-radius: 4px;
}

/* -------------- Form ---------------- */
.form {
  /* margin-top: 40px; */
}

.form .ant-form-item {
  margin-bottom: 32px;
}

.form .ant-form-item-label {
  padding-bottom: 10px;
}

.form .ant-form-item-label > label {
  height: 24px;
  font-size: 16px;
  font-family: HelveticaNeue-Bold, HelveticaNeue;
  font-weight: bold;
  color: #2d2d2d;
  line-height: 24px;
}

/* -------------- Form Input ---------------- */
.ant-input {
  height: 50px;
  font-size: 15px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  line-height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.ant-input:focus {
  border-color: #000;
  box-shadow: 0 0 0 2px rgba(211, 191, 255, 1);
}

/* -------------- Filter Input ---------------- */
.ant-input-affix-wrapper.filter {
  box-shadow: none;
}

/* -------------- Form Select ---------------- */
.ant-select .ant-select-selection-item {
  /* font-weight: 600; */
}

.ant-select .ant-select-selector {
  /* box-shadow: none !important; */
}

.ant-select-dropdown .ant-select-item-option-selected {
  color: #fff !important;
}

/* -------------- Filter Select ---------------- */
.ant-select.filter .ant-select-selection-item {
  /* font-weight: 600; */
}

.ant-select.filter .ant-select-selector {
  box-shadow: none !important;
}

.ant-select-dropdown.filter .ant-select-item-option-selected {
  color: #fff !important;
}

/* -------------- Form Picker ---------------- */
.ant-picker {
  /* box-shadow: none; */
}

.ant-picker-range .ant-picker-clear {
  /* font-size: 20px; */
}

/* -------------- Filter Picker ---------------- */
.ant-picker.filter {
  box-shadow: none;
}

.ant-picker-range.filter .ant-picker-clear {
  font-size: 20px;
}
