.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  padding: 0 40px;
}

.title1 {
  height: 21px;
  margin-top: 22px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #000000;
  line-height: 21px;
  text-align: center;
}

.title2 {
  height: 14px;
  margin-top: 3px;
  font-size: 9px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #969ba0;
  line-height: 13px;
  text-align: center;
}

.site-layout-content {
  flex: 1;
  padding: 24px;
  background: #fff;
  border-radius: 10px;
}
