.item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 14px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.status-box {
  border-radius: 6px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 22px;
}

.status-box.processing {
  background-color: #2ac154;
}

.status-box.passed {
  background-color: #546ff6;
}

.status-box.rejected {
  background-color: #c92929;
}

.status-box.executed {
  background-color: #ee6b2a;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  position: relative;
  flex: 1;
}

.tag {
  position: absolute;
  width: 93px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 24px;

  right: 0;
  bottom: 0;
}

.tag.normal {
  background-color: #546ff6;
}
.tag.finance {
  background-color: #ee6b2a;
}
.tag.member {
  background-color: #2ac154;
}
.tag.basic {
  background-color: #f65492;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #3c4369;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 10px;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.owner {
  margin-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.owner .avatar {
  width: 22px;
  height: 22px;
}

.owner .default-avatar {
  width: 22px;
  height: 22px;
  border-radius: 22px;
}

.owner .name {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #969ba0;
  line-height: 27px;
}

.number {
  font-size: 12px;
  font-weight: 500;
  color: #2f4cdd;
  line-height: 24px;
}

.description {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  color: #3c4369;
  line-height: 20px;
  max-height: 40px;
  width: 100%;
  margin-top: 25px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 400;
  color: #969ba0;
  line-height: 24px;
}

.footer .count {
  margin-left: 5px;
}

.footer .count span {
  font-size: 26px;
  font-weight: 400;
  color: #969ba0;
  margin-right: 2px;
}

.footer .time {
  font-size: 14px;
  font-weight: 400;
  color: #969ba0;
  line-height: 24px;
  margin-left: 5px;
}
