.assets-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.assets-body {
  width: 100%;
  background-color: white;
  flex: 1;
  border-radius: 12px;
  margin-top: 30px;
}

.assets-table .ant-table-cell {
  background-color: white;
}

.modal-content {
  padding: 68px 30px;
  text-align: center;
}

.modal-title {
  font-size: 36px;
  font-weight: 600;
  color: #3c4369;
  line-height: 50px;
  white-space: nowrap;
}

.modal-subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #969ba0;
  line-height: 50px;
  padding-bottom: 40px;
}

.modal-button {
  width: 200px;
  height: 63px;
  background-color: #2f4cdd;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
