.connect h1 {
  text-align: center;
}

.connect .buttons {
  text-align: center;
}

.connect .button {
  display: inline-block;
  width: 140px;
  height: 80px;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.connect .button:hover {
  background: #f9faff;
}
