.form-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.item-group {
  width: 345px;
}

.form-title1 {
  text-align: left;
}

.form-title2 {
  height: 46px;
  margin-bottom: 30px;
  text-align: left;
  color: #969ba0;
}

.tags-wrap {
  height: 100px;
}

.tags {
  height: 200px;
  overflow-y: auto;
}

.tag {
  height: 27px;
  margin-bottom: 4px;
  line-height: 27px;
  background: #f9faff;
  border: none;
}
